
body {
    font-family: cnn_sans_display, helveticaneue, Helvetica, Arial, Utkal, sans-serif;
}


@media screen and (min-width: 960px) {
    body {
        background-image: url(../imgs/mobile-gradient.png);
        background-size: cover;         
        background-position: center;    
        background-repeat: no-repeat;   
        min-height: 100vh;              
        margin: 0; 
    }
}
