<h1>Tags Management</h1>
<button class="btn btn-primary">Add</button>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
	  <th scope="col">&nbsp</th>
	  <th scope="col">&nbsp</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td >1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
	  <td>
		<button class="btn btn-success"><i class='bx bxs-edit'></i></button>
	  </td>
	  <td>
		<button class="btn btn-danger"><i class='bx bxs-trash-alt'></i></button>
	  </td>
    </tr>
   
  </tbody>
</table>

